/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap"); */
/*@font-face {
    font-family: Montserrat;
    src: url('../../assets/fonts/Montserrat-VariableFont_wght.ttf');
}*/

/*@font-face {
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-VariableFont_wght.ttf");
}*/

@media (prefers-color-scheme: light) {
  :root {
    --white: #ffffff;
    --primary-light: #8ee3c6;
    --primary: #437868;
    --primary-dark: #2e5a4d;
    --gray: #666;
    --black: #171d1b;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --white: #18191a;
    --primary-light: #dda1b7;
    --primary: #dda1b7;
    --primary-dark: #dda1b7;
    --gray: #ccc;
    --black: #ffffff;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--black);
  background-color: var(--white);
  font-size: 11pt;
  text-rendering: optimizeLegibility;
  font-family:
    "Montserrat",
    "Open Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI Emoji",
    "Apple Color Emoji",
    Helvetica,
    Arial,
    sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Fonts */

h1,
h2,
h3,
h4,
p,
li {
  /*font-family: /*"Avenir Next", "Montserrat", "Helvetica", "Open Sans", sans-serif;*/
  color: var(--black);
}

h1 {
  margin: 0;
}

h1 + p {
  margin-top: 3px;
}

h2 {
  border-bottom: 2px solid var(--black);
  display: flex;
  margin-block-start: 0.75em;
  padding-bottom: 0.3em;
  display: flex;
  align-items: center;
}

h2 > svg {
  fill: var(--black);
  height: 20px;
  width: 20px;
  margin-right: 0.5em;
}

h3 {
  margin-block-start: 1em;
  color: var(--primary-dark);
}

h3 em {
  font-style: normal;
  font-weight: lighter;
}

h4 {
  margin-block-start: 1em;
  color: var(--primary-dark);
  font-weight: normal;
}

h3,
h4 {
  margin-block-end: 3px;
}

h3 + p,
h3 + h4,
h4 + p {
  margin-block-start: 3px;
}

h3 + p {
  margin-block-end: 3px;
}

h3 + p + p {
  margin-block-start: 3px;
}

/* Text Styling */

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  text-decoration: underline;
  opacity: 0.75;
}

em {
  color: var(--gray);
}

strong {
  color: var(--primary-dark);
}

blockquote {
  color: var(--primary-light);
}

/* Other widgets */

hr {
  opacity: 0.2;
  margin: 1.5em 0;
}

/* Page */

@page {
  margin: 0;
}

.pages.web {
  max-width: 700px;
}

.page {
  position: relative;
}

.pdf .page,
.debug .page {
  height: 279.4mm;
  width: 215.9mm;
  text-rendering: optimizeLegibility;
  page-break-before: always;
  page-break-after: always;
  padding: 1cm 1.7cm;
  padding-bottom: 1.5cm;
}

.debug .page {
  outline: 1px solid white;
}

.web.pages {
  padding: 1.6em 1em;
}

/* Lists */

ul {
  padding-inline-start: 1em;
}

ul,
ol {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

h2 + ul,
h3 + ul {
  padding-inline-start: 0;
  list-style-type: none;
  margin-top: 3px;
}

.pages.web ol {
  padding-inline-start: 1em;
}

.pages:not(.web) ol {
  padding-inline-start: 0;
}

ol li {
  margin-bottom: 0.5em;
  /* text-align: justify; */
  /* text-justify: inter-word; */
}

/* */

.pages:not(.web) .download-link {
  display: none;
  text-align: center;
}

.download-link:hover {
  opacity: 0.5;
  text-decoration: none;
}

.download-link svg {
  fill: var(--primary);
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  vertical-align: text-top;
}
